Build
Temp
anal
anal-alsa-generatePanel
anal-alsa-printFirstElement
anal-alsa-printStatus
anal-alsa-printUpdates
anal-alsa-setMute:
anal-alsa-setValues
anal-alsa-setVolume
anal-monitorMonitors
anal-packRectanglesIntoWidth:height:...
